.terminal {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: Consolas, "Courier New", monospace;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;

}

.terminal-header {
  background-color: #2d2d2d;
  padding: 8px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.terminal-buttons {
  display: flex;
  gap: 8px;
}

.terminal-buttons span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.close {
  background-color: #ff5f56;
}

.minimize {
  background-color: #ffbd2e;
}

.expand {
  background-color: #27c93f;
}

.terminal-content {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
  min-height: 0;
}

.xterm-container {
  flex: 1;
  height: 100%;
  padding: 10px;
  position: relative;
  min-width: 0;
}


.xterm {
  height: 100%;
  width: 100%;
}

.xterm-viewport {
  overflow-y: auto !important;
  scroll-behavior: smooth;
  max-height: 100%;
}


/* Custom Scrollbar */
.custom-scrollbar {
  width: 12px;
  background: #2d2d2d;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.8;

  z-index: 10;
  height: 100%;

}

.custom-scrollbar:hover {
  opacity: 1;
}

.scrollbar-thumb {
  width: 8px;
  background: #45fce4;
  position: absolute;
  right: 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
}

.scrollbar-thumb:hover,
.scrollbar-thumb:active {
  background: #5cffe9;
}

/* Hide default scrollbar */
.xterm .xterm-viewport::-webkit-scrollbar {
  display: none;
}

.xterm .xterm-viewport {
  -ms-overflow-style: none;
  scrollbar-width: none;
}